<ng-container *ngIf="filedType === availableFieldTypes.Text; then textTemplate; else numberTemplate"></ng-container>

<ng-template #textTemplate>
	<mat-form-field>
		<input matInput="" type="text" placeholder="{{ placeholder }}" [formControl]="valueControl"
			[readonly]="readOnlyMode" [maxLength]="maxLength" [attr.aria-label]="placeholder" />
		<mat-error *ngIf="showErrorIfNeeded">{{ errorMessage }}</mat-error>
	</mat-form-field>
</ng-template>

<ng-template #numberTemplate>
	<mat-form-field>
		<input matInput="" type="number" placeholder="{{ placeholder }}" [formControl]="valueControl"
			[readonly]="readOnlyMode" [maxLength]="maxLength" [attr.aria-label]="placeholder" />
		<mat-error *ngIf="showErrorIfNeeded">{{ errorMessage }}</mat-error>
	</mat-form-field>
</ng-template>
